.vacations h1{
    color:black;
}

.vacations-header{
    display: flex;
    background-color: #0f346b;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.web-name{
    display: inline-flex;
    align-items: center;
}

.username{
    display: flex;
    align-items: baseline;
    color: whitesmoke;
    display: inline-flex;
    height:100%;
    font-size: large;
    font-weight: 500;
    color: azure;
}

.title{
    color:azure;
    font-size: 35px;
    font-family: myFont;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 30px;
}

.logout{
    position: relative;
    display: inline-block;
}

.logout:hover{
    cursor: pointer;
}

.logout:hover .tooltiptext {
    visibility: visible;
}

.logout .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: black;
    color: azure;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;
    margin-left: -50%;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
}

.vacation-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1);
}

.v-title h2{
    color: #383838;
    padding: 10px;
    font-family: myFont;
}

@font-face {
    font-family: myFont;
    src: url('./fonts/Caveat/Caveat-Bold.ttf');
}